* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#fullheight {
    width: 250px;
    background: blue;
}

a {
    text-decoration: none !important;    
    color: #3A5980;
    cursor: pointer;
}

.map {
    position: absolute;
    top: 30px;
    left: 195px;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    float: left;
    font-size: 18px;
    text-align: center;
    background-color: #F0F0F0;
    color: #3A5980;
    font-family: Lato, sans-serif;
    font-weight: 400;
    box-shadow: 0 1px 5px #464646;
    line-height: 30px;
    padding-left: 10px;
    z-index: 3;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    text-align: right;
    background-color: #F0F0F0;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    padding-right: 10px;
    z-index: 3;
}

.legenda {
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 185px;
    z-index: 2;
    padding-top: 5px;
    padding-left: 10px;
    line-height: 30px;
    box-shadow: 1px 0 3px #888888;
    overflow: auto;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

.legenda_tytul {
    font-weight: bold;
    font-size: 15px;
    padding-left: 40px;
}

.lista {
    padding-top: 5px;
}

.legenda li {
    display: block;
    width: 100%;
    clear: both;
}

.poligony{
    line-height: 27px;
}

.symbol {
    float: left;
}

.opis {
    padding-left: 5px;
    float: left;
}

.describe {
    position: absolute;
    top: 30px;
    left: 0px;
    bottom: 0;
    background-color: white;
    width: 300px;
    z-index: 2;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;    
    box-shadow: 1px 0 3px #888888;
    overflow: auto;
    font-family: Lato, sans-serif;
    font-size: 14px;
}
.describe_sekcja{
    padding-bottom: 20px;
}

.clear-fix{
    clear: both;
}
.describe_symbol {
    float:left;

}
.opis_describe {
    float: left;
}

.scaleLineControl {
    z-index: 2;
}

.ol-mouse-position {
    top: inherit;
    bottom: 10px;
    right: .5em;
    background-color: rgba(255,255,255,0.4);
    border-radius: 2px;
    width: 140px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 12px;
    z-index: 3;
}

.ol-attribution {
    bottom: 30px;
    right: .5em;
}

h1 {
    font-size: 15px;
    padding-left: 10px;
}

h2 {
    font-size: 14px;
    font-weight: normal;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    font-family: Lato, sans-serif;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "X";
}

#popup-content p {
    margin: 2px;
}

.ol-popup2 {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 220px;
    font-family: Lato, sans-serif;
}
.ol-popup2:after, .ol-popup2:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup2:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup2:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer2 {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer2:after {
    content: "X";
}

.ol-popup2 p {
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
}

.ol-popup2 span {
    font-size: 14px;
    white-space: nowrap;
}

.ol-popup2 ul {
    font-size: 14px;
    list-style-type: circle;
    padding-top: 1px;
    padding-left: 15px;
}



#map2 .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}
#map2 .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}

#map2 .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}
#map2 .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#map2 .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map2 .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

#map2 .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map2 .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
}

.tree {
    max-height: 95%;
    overflow: auto;
    padding: 5px;
    margin-left: 10px;

    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
    position: absolute;
    top: 30px;
    width: 260px;
    z-index: 2;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 10px 5px;
    position:relative;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: left;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.myBtn {
    background-color:  #F0F0F0;
    border: none;
    border-left: 1px solid gray;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-left: 6px;
    cursor: pointer;
}
/* The Close Button */
.close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.kontakt {
    color: #3A5980;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background-color: #F0F0F0;
}
.formularz-kontaktowy {
    /* Just to center the form on the page */
    margin: 0 auto;
    padding-left: 15%;
   /* width: 30%;*/
    /* To see the outline of the form */
    /*padding: 1em;*/

}
.formularz-naglowek{
    text-align: center;
    font-size: 16px;
}
.formularz-button{
    margin-left: 18.5%;
}
.label-kontakt {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 5px;
    text-align: center;
}
.input-kontakt, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em Courier;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
.input-kontakt:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 7em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}
.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content2 {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    text-align: left;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
}